@import url('https://themes.googleusercontent.com/fonts/css?kit=3qINvnjb346LubKDfLRn69t6G6Z1RrRfgULZ1AHo7mPOfsfM6rvuuu7h1pY3r_-A');
ol{margin:0;padding:0}
table td,table th{padding:0}
.c1{font-weight:600;font-family:"Verdana"}
.c2{color:#434343;text-decoration:none;vertical-align:baseline;font-size:10pt;font-style:normal}
.c3{color:#000000;font-weight:400;text-decoration:none;vertical-align:baseline;font-size:11pt;font-family:"Proxima Nova";font-style:normal}
.c4{border-right-style:solid;border-bottom-color:#ffffff;border-top-width:1pt;border-right-width:1pt;border-left-color:#ffffff;vertical-align:top;border-right-color:#ffffff;border-left-width:1pt;border-top-style:solid;border-left-style:solid;border-bottom-width:1pt;width:100%;border-top-color:#ffffff;border-bottom-style:solid}
.c5{padding-top:0pt;padding-bottom:0pt;line-height:1.15;orphans:2;widows:2;text-align:left}
.c6{font-weight:300;font-family:"Verdana"}
.c7{-webkit-text-decoration-skip:none;font-family:"Verdana";color:#1155cc;text-decoration:underline;text-decoration-skip-ink:none}
.c9{color:inherit;text-decoration:inherit}
.c10{color:#000000}
.c12{padding:0;margin:0}
.c13{font-style:italic;color:#434343}
.c16{color:#434343}.title{padding-top:0pt;color:#3c78d8;font-weight:700;font-size:18pt;padding-bottom:0pt;font-family:"Proxima Nova";line-height:1.5;page-break-after:avoid;orphans:2;widows:2;text-align:left}
.c17{text-indent:4.5pt;page-break-after:avoid}
.c18{font-weight:400;font-size:11pt}
.c19{background-color:#ffffff;font-family:"Verdana";color:#333333;font-weight:700}
.c21{height:80pt}
.c22{background-color:#ffffff;font-size:10.5pt}
.c23{font-size:20pt;color:#0000ff}
.c25{color:#0000ff;text-decoration:none;vertical-align:baseline;font-size:11pt;font-style:normal}
.c27{text-decoration:none;vertical-align:baseline;font-family:"Arial";font-style:normal}
.c28{background-color:#ffffff}
.c29{padding-top:0pt;padding-bottom:0pt;line-height:1.0;page-break-after:avoid;orphans:2;widows:2;text-align:justify}
.c30{height:11pt}
.c31{margin-left:18pt;padding-top:0pt;padding-left:0pt;padding-bottom:8pt;line-height:1.1;orphans:2;widows:2;text-align:justify}
.c32{border-right-style:solid;padding:3pt 3pt 3pt 3pt;border-bottom-color:#ffffff;border-top-width:1pt;border-right-width:1pt;border-left-color:#ffffff;vertical-align:top;border-right-color:#ffffff;border-left-width:1pt;border-top-style:solid;border-left-style:solid;border-bottom-width:1pt;width:100%;border-top-color:#ffffff;border-bottom-style:solid}
.c33{font-size:11pt}
.c34{padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:center}
.c35{padding-top:0pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:left}
.c36{
    height:58.5pt;
}
.c37{font-size:10pt}
.c38{page-break-after:avoid}
.c42{text-decoration:none;vertical-align:baseline}
.c44{font-size:21pt;color:#0000ff}
.c45{padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:left;margin-right:-43.5pt}
.c46{border-right-style:solid;border-bottom-color:#ffffff;border-top-width:1pt;border-right-width:1pt;border-left-color:#ffffff;vertical-align:top;border-right-color:#ffffff;border-left-width:1pt;border-top-style:solid;border-left-style:solid;border-bottom-width:1pt;width:650pt;border-top-color:#ffffff;border-bottom-style:solid}
.c47{font-size:12pt;font-style:normal}
.c48{font-size:11pt}
.c49{padding-top:0pt;padding-bottom:8pt;line-height:1.14;orphans:2;widows:2;text-align:justify}
.c50{padding-top:0pt;padding-bottom:8pt;line-height:1.0;orphans:2;widows:2;text-align:justify}
.c52{font-style:normal}
.c53{margin-left:18pt;padding-top:0pt;padding-left:0pt;padding-bottom:0pt;line-height:1.0;orphans:2;widows:2;text-align:justify}
.c56{
    text-align:right;
    border-right-style:solid;
    border-bottom-color:#ffffff;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:1pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:300pt;
    border-top-color:#ffffff;
    border-bottom-style:solid;
}
.c57{orphans:2;widows:2}
.c60{border-spacing:0;border-collapse:collapse;margin-right:0}
.c61{padding-top:0pt;padding-bottom:0pt;line-height:1.15;text-align:center}
.c63{height:51.8pt}
.c64{border-right-style:solid;border-bottom-color:#ffffff;border-top-width:1pt;border-right-width:1pt;border-left-color:#ffffff;vertical-align:middle;border-right-color:#ffffff;border-left-width:1pt;border-top-style:solid;border-left-style:solid;border-bottom-width:1pt;width:800pt;border-top-color:#ffffff;border-bottom-style:solid}
.c65{padding-top:0pt;padding-bottom:0pt;line-height:1.0;text-align:justify}
.c66{border-right-style:solid;padding:5pt 5pt 5pt 5pt;border-bottom-color:#ffffff;border-top-width:1pt;border-right-width:1pt;border-left-color:#ffffff;vertical-align:top;border-right-color:#ffffff;border-left-width:1pt;border-top-style:solid;border-left-style:solid;border-bottom-width:1pt;width:114pt;border-top-color:#ffffff;border-bottom-style:solid}
.c67{padding-top:0pt;padding-bottom:0pt;line-height:1.5;text-align:center}
.c70{height:75.8pt}
.c71{font-size:8pt}
.c77{
    margin-left:-18pt;
    border-spacing:0;
    border-collapse:collapse;
    margin-right:auto
}
.c78{border-right-style:solid;border-bottom-color:#ffffff;border-top-width:1pt;border-right-width:1pt;border-left-color:#ffffff;vertical-align:middle;border-right-color:#ffffff;border-left-width:1pt;border-top-style:solid;border-left-style:solid;border-bottom-width:1pt;width:556.5pt;border-top-color:#ffffff;border-bottom-style:solid}
.c79{
    padding-top:0pt;
    text-indent:18pt;
    padding-bottom:0pt;
    line-height:1.15;
    text-align:right;
}
.c81{height:80pt}
.c84{max-width:100%;padding:5pt 10pt 10pt 10pt}
.c85{
    border-right-style:solid;
    padding:5pt 5pt 5pt 5pt;
    border-bottom-color:#ffffff;
    border-top-width:1pt;
    border-right-width:1pt;
    border-left-color:#ffffff;
    vertical-align:top;
    border-right-color:#ffffff;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:500pt;
    border-top-color:#ffffff;
    border-bottom-style:solid;
}
.c86{padding-top:0pt;padding-bottom:0pt;line-height:1.5;text-align:left;margin-right:-4.5pt;height:12pt}
.subtitle{padding-top:0pt;color:#434343;font-size:12pt;padding-bottom:0pt;font-family:"Proxima Nova";line-height:1.5;page-break-after:avoid;font-style:italic;orphans:2;widows:2;text-align:left}li{color:#000000;font-size:11pt;font-family:"Arial"}p{margin:0;color:#000000;font-size:11pt;font-family:"Arial"}
h1{padding-top:0pt;color:#999999;font-size:11pt;padding-bottom:0pt;font-family:"Proxima Nova";line-height:2.0;page-break-after:avoid;orphans:2;widows:2;text-align:left}
h2{padding-top:0pt;color:#434343;font-weight:700;font-size:12pt;padding-bottom:0pt;font-family:"Proxima Nova";line-height:1.5;page-break-after:avoid;orphans:2;widows:2;text-align:left}
